.header {
   padding: 3rem 0;
   background-color: rgb(245, 245, 245);
}
.header nav {
   display: flex;
   justify-content: center;
}
.header nav a {
   font-size: 1.8rem;
   text-decoration: none;
   display: inline-block;
}

.header nav a:not(:first-child) {
   margin-left: 2rem;
}
