.product {
   border: 1px solid lightgray;
   border-radius: 0.8rem;
   display: flex;
   padding: 1rem;

   flex-direction: column;
   justify-content: space-between;
   /* align-items: center; */
   text-align: center;
}

.product-details h2 {
   font-size: 2rem;
   margin-bottom: 1rem;
}
.product-details p {
   font-size: 1.6rem;
   margin-bottom: 1rem;
}
.product img {
   /* width: 25rem; */
   max-width: 100%;
   display: block;
   object-fit: cover;
   margin-bottom: 2rem;
}
